.suggestions {
    margin-top: 30px;
    margin-right: 20px;
}

.suggestions__title {
    color: grey;
    font-weight: bold;
}

.username__left {
    display: flex;
    align-items: center;
}

.username__info {
    display: flex;
    flex-direction: column;
}

.relation {
    color: grey;
    font-size: 12px;
}

.suggestions__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}

.suggestions__username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button {
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
}

.follow__button:hover {
    color: white;
    cursor: pointer;
}

.username {
    font-weight: 600;
    font-size: 14px;
}
.username:hover {
    cursor: pointer;
    color: grey;
}

.avatar {
    margin-right: 10px;
}

.avatar:hover {
    cursor: pointer;
}

.info {
    font-size: 12px;
    color: grey;
}

.copyright {
    font-size: 14px;
    color: grey;
}


@media (max-width: 880px) {
    .suggestions {
        display: none;
    }
}


@media (max-width: 1300px) {
    .suggestions {
        margin-top: 25px;
    }

    .suggestions__username {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }
    .username {
        font-size: 12px;
    }

    .info {
        font-size: 10px;
    }

    .copyright{
        font-size: 12px;
    }
}

@media (max-width: 800px){
    .suggestions {
        display: none;
    }
}