.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sidenav__logo {
    width: 120px;
    margin: 25px;
}

.sidenav__buttons {
    display: flex;
    flex-direction: column;
}

.sidenav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background: 0;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;
}

.sidenav__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}

.sidenav__button>span {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}

.sidenav__more {
    position: fixed;
    bottom: 3px;
}

.vertical-line {
    position: fixed;
    margin-left: 235px;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background-color: grey;
    transform: translateX(-50%);
}

.logout__button {
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.211);
    padding: 10px;
    border: 0;
}

.logout__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.424);
}



@media (max-width: 1300px) {
    .sidenav__logo {
        width: 100px;
        margin: 25px;
    }

    .sidenav__button {
        margin: 2.5px 5px 2.5px 5px;
        padding: 7.5px 11.25px 7.5px 11.25px;
    }

    .sidenav__button>span {
        font-size: 14px;
        margin-left: 7.5px;
    }

    .vertical-line {
        margin-left: 157px;
    }
}

@media (max-width: 880px) {
    .vertical-line {
        display: none;
    }
}

@media (max-width: 800px) {
    .sidenav__logo {
        display: none;
    }

    .sidenav__buttons {
        background-color: black;
        flex-direction: row;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0px;
        border-top: 0.5px solid grey;
    }

    .sidenav__button>span {
        display: none;
    }

    .vertical-line {
        display: none;
    }

    .hide-button {
        display: none;
    }

    .hide-search {
        display: none;
    }


}